*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.orange-color-text {
    color: #FD6E0A;
}

.primary-button {
    color: #fff;
    background-color: #FD6E0A;
    border: none;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 5%;
    font-weight: 700;
}


/* Navigation related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

nav > h3 {
    font-size: 2.5rem;
    color: #181818;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #474747;
    padding: 0.8rem;
}

/* banner related style */

.header {
    background-color: #FFF8F3;
}

.banner {
    padding: 5em 3em 5em 8em;
    display: flex;
    align-items: center;
}

.banner-title {
    margin-top: 0.2em;
}   

.banner-content p {
    margin-top: 1em;
}

.banner-content button {
    margin-top: 1em;
    
}

.inverse-primary-button {
    color: #FD6E0A;
    background-color: rgb(211, 208, 208);
    border: none;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 5%;
    font-weight: 700;
    margin-left: 0.4em;
}
