* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared css styles */
body {
  font-family: "Open Sans", sans-serif;
}

i{
  margin-right: 0.5em;
}

.orange-color-text {
  color: #fd6e0a;
}

.primary-button {
  color: #fff;
  background-color: #fd6e0a;
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5%;
  font-weight: 700;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}

/* Navigation related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

nav > h3 {
  font-size: 2.5rem;
  color: #181818;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #474747;
  padding: 0.8rem;
}

/* banner related style */
.header {
  background-color: #fff8f3;
  /* background-image: url('../images/developer.png');
  background-repeat: no-repeat;
  background-size: 7%;
  background-position: top left; */

}

.banner {
  padding: 5em 2em 0em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-size: 50%, 6%;
  background-position: bottom right, center left;
}

.banner-content {
  max-width: 500px;
}

.banner-greeting {
  color: #474747;
}

.banner-title {
  margin-top: 0.2em;
  font-weight: 700;
}

.banner-content p {
  margin-top: 1em;
  padding-right: 1.5em;
}

.banner-content button {
  margin-top: 1em;
}

.inverse-primary-button {
  color: #fd6e0a;
  background-color: rgb(231, 231, 231);
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 5%;
  font-weight: 700;
  margin-left: 0.4em;
}

/* About section related styles */
main {
  max-width: 1140px;
}
.about-section {
  border-radius: 10px;
  background: #fff8f3;
  width: 85%;
  margin: 5em auto;
  padding: 3rem;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.about-info {
  text-align: center;
}

.info-title {
  color: #757575;
}

.info-description {
  font-weight: bold;
}

.section-description {
  padding: 0.4em 8em;
}

/* What i do related styles */
.what-i-do-section {
  margin-top: 5em;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  padding: 2em 5em;
  margin-bottom: 5rem;
}

.skill {
  padding: 1em;
  margin-right: 2em;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
  color: #757575;
  margin-top: 1em;
}

.skill-title {
  margin-top: 1.5em;
  margin-bottom: 0;
}

/* My summary section related styles */
.section-container {
  text-align: center;
}

.summary-section {
  display: flex;
  padding: 2em 4em 0 4em;
}

.my-edu-container-job-container {
  padding: 1em;
  text-align: left;
}

.edu-title-job-title {
  margin-bottom: 1em;
  color: #474747;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
}

.university-job {
  padding: 1em 0;
}

.uni-title-job-title {
  color: #474747;
  font-weight: 700;
  margin-bottom: 0.3em;
  font-size: 1.2em;
}

.degree-title-job-company {
  color: #757575;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.university-job p {
  color: #757575;
}

/* footer related styles */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #FFF8F3;
  /* color: #FFF8F3; */
  padding: 6rem;
  margin-top: 5em;
}

.social-media-container {
  padding-right: 5em;
}
.social-media-container h2 {
  color: #181818;
  font-weight: 700;
  margin-bottom: 1em;
}

.social-media-container p {
  color: #474747;
  margin-bottom: 1em;
}

.icon a {
  margin-right: 1em;
}

.form h2 {
  color: #181818;
  font-weight: 700;
  margin-bottom: 1em;
}

.basic-form input {
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5%;
  width: 100%;
}

#message {
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5%;
  width: 100%;
}

